.header {
    height: 90vh;
    margin: 30px auto;
    background-size: cover;
    background-position: center center;
    position: relative;
    transition: background-image 0.8s ease-in-out;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 59%;
    bottom: 10%;
    top: 5%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h1 {
    background-color: rgba(255, 255, 255, 0.25);
    /* White background with 25% opacity */
    font-weight: 500;
    color: brown;
    font-size: max(3.5vw, 22px);
}


.header-contents p {
    color: black;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: black;
    font-weight: 500;
    padding: 0.5vw 2.3vw;
    background-color: beige;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media (max-width:1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}